<!doctype html>
<h2>Pulling Video from Excel</h2>

<p>Sometimes you get a series of events in Excel that you need video for.  That data could come from a Point of Sale (POS) System or vehicles passing through a Toll Booth or employee time clocks.</p>

<p>This sample code is to show how to easily pull the video from Eagle Eye Networks without having to manually download the data.</p>

<p>
    <form action="/upload" method="post" enctype="multipart/form-data">
      <input type="file" name="file">
      <input type="submit" value="Upload">
    </form>
</p>

<br>
<hr>
<br>

<h3>Generate an Excel sheet</h3>

<p>In order to get this process started, I've made an easy way to create a spreadsheet to use in the above example.</p>

<p>
    <form action="/generate" method="post" enctype="multipart/form-data">
        <input type="text" name="esn" placeholder="ESN">
        <input type="text" name="start_time" placeholder="start time">
        <input type="text" name="end_time" placeholder="end time">
        <input type="submit" name="generate">
    </form>
</p>